<div *ngIf="poke" class="statBlock">
  <div style="display: block">
    <canvas baseChart
            *ngIf="poke"
            height="300px" width="300px"
            [datasets]="radarChartData"
            [labels]="radarChartLabels"
            [chartType]="radarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
            [options]="chartOptions"></canvas>
  </div>

  <table class="stats">
    <tr class="bold">
      <th>Total:</th>
      <th>{{poke.stats[0]}}</th>  
    </tr>
    <tr *ngFor="let label of radarChartLabels; let i = index" [attr.data-index]="i">
        <th>{{label}}</th>
        <th>{{stats[i]}}</th> 
    </tr>
  </table>
</div>