<div *ngIf="pokemon" class="pokemon-detail">
  <div class="body-box">
    <h2>#<span class="titleName">{{pokemon.id}} </span>{{pokemon.name | uppercase}}</h2>
    <hr class="line">
    <div class="poke-box">
      <div class="imageDiv">
        <img width="300" alt="{{pokemon.name}}" src="{{imageUrl}}">
      </div>
      <div class="detail">
        <table>
          <tr>
            <th *ngFor="let type of pokemon.type">
              <div class="types" [ngClass]="
                {
                  fire: isFire(type), 
                  normal: isNormal(type),
                  water: isWater(type),
                  electric: isElectric(type),
                  grass: isGrass(type),
                  ice: isIce(type),
                  fighting: isFighting(type),
                  poison: isPoison(type),
                  ground: isGround(type),
                  flying: isFlying(type),
                  psychic: isPsychic(type),
                  bug: isBug(type),
                  rock: isRock(type),
                  ghost: isGhost(type),
                  dragon: isDragon(type),
                  dark: isDark(type),
                  steel: isSteel(type)
                }">
                {{type}}
              </div>
            </th>
          </tr>
        </table>
        <h3>Strong Against:</h3>
        <table>
          <tr>
            <th *ngFor="let type of advantageTypes">
              <div class="types" [ngClass]="
                 {
                  fire: isFire(type), 
                  normal: isNormal(type),
                  water: isWater(type),
                  electric: isElectric(type),
                  grass: isGrass(type),
                  ice: isIce(type),
                  fighting: isFighting(type),
                  poison: isPoison(type),
                  ground: isGround(type),
                  flying: isFlying(type),
                  psychic: isPsychic(type),
                  bug: isBug(type),
                  rock: isRock(type),
                  ghost: isGhost(type),
                  dragon: isDragon(type),
                  dark: isDark(type),
                  steel: isSteel(type)
                }">
                {{type}}
              </div>
            </th>
          </tr>
        </table>
        <h3>Weak Against:</h3>
        <table>
          <tr>
            <th *ngFor="let type of disadvantageTypes">
              <div class="types" [ngClass]="
                 {
                  fire: isFire(type), 
                  normal: isNormal(type),
                  water: isWater(type),
                  electric: isElectric(type),
                  grass: isGrass(type),
                  ice: isIce(type),
                  fighting: isFighting(type),
                  poison: isPoison(type),
                  ground: isGround(type),
                  flying: isFlying(type),
                  psychic: isPsychic(type),
                  bug: isBug(type),
                  rock: isRock(type),
                  ghost: isGhost(type),
                  dragon: isDragon(type),
                  dark: isDark(type),
                  steel: isSteel(type)
                }">
                {{type}}
              </div>
            </th>
          </tr>
        </table>
      </div>
    </div>
    <div class="stat-box">
      <app-stat-chart [poke]="pokemon"></app-stat-chart>
    </div>
  </div>
</div>