.pokemon-detail{
  background: #607D8B;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.body-box{
  background: white;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 20px;
}
.poke-box{
  
  height: calc(100% - 40px - 60px);
  float:left;
  margin: 15px;
  
  border-radius: 20px;
  border: solid #000;
  border-width: 0 0 6px 0;
  background: #f3f3f3;
}
.stat-box{
  float:left;
}
.imageDiv{
  height: 400px;
  width: 400px;
  border-radius: 20px;
  border: solid #575757;;
  border-width: 5px 0 5px 0;
  padding: 10px;
  background: #eff2f3;
  text-align: center;
  
}
.imageDiv img{
  vertical-align: middle;
  margin-top:10%;
}
:host {
  width: -moz-available;
}
h2{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  padding-left:1em;
}
.name{
  font-weight: bold;
}

.types{
  color: white;
  background: #b06161;
  padding: 6px;
  border-radius: 8px;
  text-shadow: 2px 2px grey;
  color:white;
}
table{
  margin: auto;
  margin-top:5px;
}
.detail{
  text-align: center;
}



/*TYPES*/
.fire{
  background:red;
}
.normal{
  background: #a9a878;
}
.water{
  background: #6890f0;
}
.electric{
  background: #f8d030;
}
.grass{
  background: #79c851;
}
.ice{
  background: #98d8d8;
}
.fighting{
  background: #c03028;
}
.poison{
  background: #a040a1;
}
.ground{
  background: #a040a1;
}
.flying{
  background: #a890f0;
}
.psychic{
  background: #f85888;
}
.bug{
  background: #a8b821;
}
.rock{
  background: #b89f38;
}
.ghost{
  background: #705798;
}
.dragon{
  background: #6f36fc;
}
.dark{
  background: #6f5848;
}
.steel{
  background: #b7b7cc;
}